/* Navigation Bar */

.navbar
{
	padding: 0 0 4.5rem;
}

.navbar-brand
{
	font-family: "Ubuntu"; 
	font-size: 2.5rem;
	font-weight: bold;
}
.nav-item
{
	padding: 0 18px;
}
.nav-link
{
	font-size: 1.2rem;
	font-weight: 100;
}

/* title */

#title
{
	background-color: #ff4c68;
	color: white;
}
h1
{
	font-family: 'Montserrat', sans-serif;
	font-size: 3.5rem;
	line-height: 1.5;
	font-weight: 900;
}
.container-fluid
{
	padding: 3% 15% 7%;
}
body
{
	font-family: "Montserrat";
}

.download_button
{
	margin: 5% 3% 5% 0;
}

/* Title Image */

.image 									/* iPhone Image */
{
	width: 22.5%;
	transform: rotate(25deg);
	margin-left: 3%;
	position: absolute;
}

/* Features */

#features
{
	background-color: white;
	position: relative;
	z-index: 1;
}

.icons						/* font-awesome icons */
{
	color: #ef8172;
	padding: 5% 42%;
}

.icons:hover
{
	color: #ff4c68;
}

.features
{
	font-weight: 700;
	font-size: 1.5rem;
	text-align: center;

}

.subtext
{
	color: #8f8f8f;
	text-align: center;
	padding: 0 5%;
}

/* Testimonials */

#testimonials
{
	text-align: center;
	background-color: #ef8172;
	color: white;
}
h2
{
	font-family: "Montserrat";
	font-weight: 700;
	font-size: 3rem;
}
.testimonial 
{
	width: 15%;
	border-radius: 100%;
	margin: 20px;
}


.carousel-item
{
	padding: 7% 16% ; /* similar to container-fluid */
}

/* Press */

#press
{
	background-color: #ef8172;
	text-align: center; 
	padding-bottom: 3%;
}

.press_cred				/* Images within press section */
{
	width: 15%;
	margin: 20px 20px 50px; /* top->left and right->bottom */
}


/* Pricing Section */

#pricing
{
	padding: 100px;
	text-align: center;

}

.pricing-column
{
	padding: 3% 2%;
}

.subtexts					/* Text within pricing cards */
{
	color: #8f8f8f;
}

.subtexts1 				/* to make all cards same height */
{
	color: #8f8f8f;
	margin-bottom: 16%;
}

/* Call to Action Section */


#cta
{
	background-color: #ff4c68;
	text-align: center;
	color: white;
	padding: 4% 6% 8%;
}
.catchphrase
{
	font-weight: 900;
	font-size: 2.5rem;
	padding-left: 25%;
	padding-right: 25%;
	padding-bottom: 4%;
	line-height: 1.5;
}
.footer1  /* for buttons */
{
	margin-left: 0.8%;
	margin-right: 0.8%;
}
#footer
{
	text-align: center;
	padding: 4.5% 5% 1.5%;
}
.copyright
{
	padding-top: 2%;
	color:#8f8f8f;
	font-size: 80%;
}
.social
{
	margin: 0 1% 0;
}
.social-link
{
	color: black;
}

@media (max-width:1080px)

{

	#title
	{
		text-align: center;
	}
	h1
	{
		font-size: 2.5rem;
	}
	.image
	{
		position: static;
		width: 60%;
		transform: rotate(0);
	}
	#aligns
	{
		margin-bottom: 50%;
	}
	#aligns1
	{
		margin-bottom: 25%;
	}
	.icons
	{
		text-align: center;
	}
	.catchphrase
	{
		font-size: 2rem;
		padding: 0 25% 0 25%;
	}
	h2
	{
		font-size: 2rem;
	}
}